{% extends 'base.html' %}

{% block content %}

    <h1>Blog</h1>










    {% for x in posts %}
        <div class="card mb-3" >
            <div class="card-header">

                <h5 class="card-title">{{ x['title'] }} - {{ x['author'] }}</h5>
                <small class="card-subtitle">{{ x['date'] }}</small>

            </div>
            <div class="card-body">
            <p class="card-text">{{ x['content'] }}</p>

          </div>
        </div>
    {% endfor %}










{% endblock content %}